<form action="index.php?c=collection&a=move_content" method="post" id="content_form" class="form-inline">
{loop $ids $id}
<input name="ids[]" type="hidden" value="{$id}">
{/loop}
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>目标栏目</td>
            <td >
                <select name="to_category_id" class="input-small">
                {foreach $list as $vo}
                    <option value="{$vo['category_id']}" {if $vo['type_id'] == 4 || $vo['type_id'] == 3 || $vo['child']}disabled="disabled"{/if}>
                        {for $i=1;$i<$vo['stort'];$i++}
                        &nbsp;&nbsp;&nbsp;
                        {/for}
                        {if $vo['parent_id'] != 0}
                        |--
                        {/if}
                        {$vo['name']}
                    </option>
                {/foreach}
                </select>&nbsp;&nbsp;&nbsp;&nbsp;<label class="checkbox">同时删除采集内容<input type="checkbox" value="1" name="is_delete"></label>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" colspan="2">
                <input type="submit" value="确 定" class="btn btn-primary">
            </td>
        </tr>
    </tfoot>
</table>
</form>