<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/bootstrap_min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/css.css" media="all" />
    <script type="text/javascript" src="{__PUBLIC__}js/jquery.js"></script>
    <script type="text/javascript" src="{__PUBLIC__}js/bootstrap.min.js" ></script>
    <title>E营销管理系统</title>
</head>
<body>
    <ul class="breadcrumb">
        <li><a href="javascript:void(0)">首页</a> <span class="divider">&gt;&gt;</span></li>
        <li><a href="javascript:void(0)">系统首页</a> <span class="divider">&gt;&gt;</span></li>
        <li class="active">关键词管理</li>
        <li class="pull-right" style="margin-top:-3px">
            <a class="btn btn-small btn-primary pull-right" href="javascript:void(0);" id="add_keywords_category">添加分类</a>
        </li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="5%">排序</th>
                <th width="5%">分类</th>
                <th width="75%">关键词</th>
                <th width="5%">必须</th>
                <th width="10%">管理操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $keywords as $vo}
            <tr>
                <td align='center'><span class="listorders" data-category_id="{$vo['category_id']}">{$vo['listorder']}</span></td>
                <td align='center'>{$vo['name']}</td>
                <td class="keyword_category">
                    {foreach $vo['keywords'] as $val}
                    <span class="tags" data-keywords="{$val['keywords_id']}"><font class="edit_tags">{@iStripslashes($val['name'])}</font><a href="javascript:void(0);" class="delete_tags">×</a></span>
                    {/foreach}
                    <div class="input-append">
                        <input class="span1" type="text">
                        <button class="btn add_keywords" data-category="{$vo['category_id']}" type="button">确定</button>
                    </div>
                </td>
                <td align='center'>
                    {if $vo['need'] == 1}是{else/}否{/if}
                </td>
                <td align='center'>
                    <a href="javascript:void(0)" class="edit_keywords_category" data-category="{$vo['category_id']}">修改</a>&nbsp;|&nbsp;
                    <a href="javascript:void(0)" onclick="return confirmurl('index.php?c=index&a=delete_keywords_category&id={$vo['category_id']}','确定删除“{$vo['name']}”吗?')">删除</a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    <div id="tags_category" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        <div class="modal-body">
            <p style="text-algin:center">loadding......</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary" id="modal_submit" data-dismiss="modal" aria-hidden="true">确定</button>
        </div>
    </div>
    <script>
        $(function(){
            $('#add_keywords_category').click(function(){
                $('#myModalLabel').html('添加关键词分类');
                $('#tags_category').modal({
                    remote:'index.php?c=index&a=add_keywords_category'
                });
            });
            $('.edit_keywords_category').click(function(){
                $('#myModalLabel').html('修改关键词分类');
                var category_id = $(this).data('category');
                $('#tags_category').modal({
                    remote:'index.php?c=index&a=edit_keywords_category&category_id='+category_id
                });
            });
            $('#tags_category').on('hidden', function () {
                $(this).removeData();
            })
            $('#modal_submit').click(function(){
                $('#modal_form').submit();
            });
            
            $('.add_keywords').click(function(){
                var _this = $(this);
                var tags_name = $(this).prev('input').val();
                var category_id = $(this).data('category');
                if(tags_name != ''){
                    $.post('index.php?c=index&a=add_keywords',{name:tags_name,category_id:category_id},function(data){
                        if(data.status == 1){
                            _this.prev('input').val('');
                            _this.parent().before('<span class="tags" data-keywords="'+data.keywords_id+'"><font class="edit_tags">'+data.keywords+'</font><a href="javascript:void(0);" class="delete_tags">×</a>');
                            
                        }else{
                            alert(data.msg);
                        }
                    })
                }
            });
            $('.keyword_category').on('click','.edit_tags',function(){
                var _this = $(this);
                var keywords_id = _this.parent().data('keywords');
                $('#myModalLabel').html('修改标签');
                $('#tags_category').modal({
                    remote:'index.php?c=index&a=edit_keywords&keywords_id='+keywords_id
                });
            });
            $('.keyword_category').on('click','.delete_tags',function(){
                var _this = $(this);
                var keywords_name = _this.prev().html();
                var keywords_id = _this.parent().data('keywords');
                if(confirm('你确定删除“'+keywords_name+'”么？')){
                    $.get('index.php?c=index&a=delete_keywords&keywords_id='+keywords_id,function(data){
                        if(data.status == 1){
                            _this.parent().remove();
                        }else{
                            alert(data.msg);
                        }
                    })
                }
            });
            $('.listorders').click(function(){
                if($(this).children('input').length > 0){
                    return false;
                }else{
                    $(this).html('<input style="width:15px;" id="listorder' + $(this).data('category_id') + '" data-keywords="' + $(this).html() + '" value="' + $(this).html() + '">');
                    $(this).children('input').focus();
                    $(this).css({padding:'0'});
                }
            });
            $('.listorders').hover(
                function(){
                    $(this).css({background:'#CCCCCC'})
                },
                function(){
                    $(this).css({background:'#FFFFFF'})
                }
            );
            $('.listorders').on('blur','input',function(){
                var category_id = $(this).parent().data('category_id');
                var listorder = $(this).val();
                $.post('index.php?c=index&a=keywords_listorder',{category_id:category_id,listorder:listorder},function(data){
                    $('#listorder'+data.category_id).parent().css({padding:'0 10px'});
                    if(data.status == 1){
                        $('#listorder'+data.category_id).parent().html(listorder);
                    }else{
                        $('#listorder'+data.category_id).parent().html($('#listorder'+data.category_id).data('keywords'));
                    }
                });
                return false;
            });
        });
        function confirmurl(url,message){
            if(confirm(message)){
                location.replace(url);
            }
        }
    </script>
</body>
</html>