<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/bootstrap_min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/css.css" media="all" />
    <script type="text/javascript" src="{__PUBLIC__}js/jquery.js" ></script>
    <script type="text/javascript" src="{__PUBLIC__}js/bootstrap.min.js" ></script>
    <title>E营销管理系统</title>
</head>
<body>
    <ul class="breadcrumb">
        <li><a href="javascript:void(0)">首页</a> <span class="divider">&gt;&gt;</span></li>
        <li><a href="javascript:void(0)">模块管理</a> <span class="divider">&gt;&gt;</span></li>
        <li><a href="index.php?c=other&a=talent">招聘管理</a> <span class="divider">&gt;&gt;</span></li>
        <li class="active">修改职位</li>
    </ul>
    <form action="" method="post" class="form-search">
        <input type="hidden" value="{$info['position_id']}" name="position_id">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td width="20%" align="right"><strong>职位名称：</strong></td>
                    <td class="lt">
                        <input type="text" name="name" value="{$info['name']}">
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>职位类别：</strong></td>
                    <td class="lt">
                        <input type="text" name="type" value="{$info['type']}">
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>工作地点：</strong></td>
                    <td class="lt">
                        <input type="text" name="address" value="{$info['address']}">
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>招聘人数：</strong></td>
                    <td class="lt">
                        <input type="text" name="number" value="{$info['number']}">
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>招聘状态：</strong></td>
                    <td class="lt">
                        <label class="radio"><input type="radio" name="status" {if $info['status'] == 0}checked="checked"{/if} value="0">未开始</label>
                        <label class="radio"><input type="radio" name="status" {if $info['status'] == 1}checked="checked"{/if} value="1">招聘中</label>
                        <label class="radio"><input type="radio" name="status" {if $info['status'] == 2}checked="checked"{/if} value="2">已结束</label>
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>工作职责：</strong></td>
                    <td class="lt">
                        <textarea name="duties" style="width:300px;height:150px;">{$info['duties']}</textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>工作要求：</strong></td>
                    <td class="lt">
                        <textarea name="claim" style="width:300px;height:150px;">{$info['claim']}</textarea>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center">
                        <input class="btn btn-primary" type="submit" value="保 存" />
                        <input class="btn btn-warning" type="button" onclick="javascript:history.back(-1);" value="返 回" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</body>
</html>

