<form action="index.php?c=wechar&a=edit_menu" method="post" id="modal_form">
<input name="menu_id" type="hidden" value="{$info['menu_id']}">
    <table>
        <tbody>
            <tr>
                <td width="40%" align="right">上级菜单：</td>
                <td>
                    <select name="parent_id">
                        <option value="0">一级菜单</option>
                        {loop $list $vo}
                        <option value="{$vo['menu_id']}" {if $vo['menu_id'] == $info['parent_id']}selected="selected"{/if}>{$vo['name']}</option>
                        {/loop}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">菜单名称：</td>
                <td>
                    <input name="name" type="text" value="{$info['name']}" >
                </td>
            </tr>
            <tr>
                <td align="right">菜单动作：</td>
                <td>
                    <select name="data_type" id="data_type">
                        <option value="0">--选择菜单动作--</option>
                        <option value="1" {if $info['data_type'] == 1}selected="selected"{/if}>图文消息</option>
                        <option value="2" {if $info['data_type'] == 2}selected="selected"{/if}>转向链接</option>
                    </select>
                </td>
            </tr>
            <tr {if $info['data_type'] != 2}style="display:none"{/if}>
                <td align="right">链接类型：</td>
                <td>
                    <select id="url_type">
                        <option value="0">自定义</option>
                        <option value="1">网站首页</option>
                        <option value="2">个人中心</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right" id="date_text">消息内容：</td>
                <td>
                    <input name="data" type="text" value="{$info['data']}" >
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
$(function(){
    var data_type = $('#data_type').val();
    switch(data_type){
        case '0':
            $('#date_text').parent().hide();
            $('#url_type').parents('tr').hide();
            break;
        case '1':
            $('#url_type').parents('tr').hide();
            $('#date_text').html('相关关键字：').parent().show();
            break;
        case '2':
            $('#date_text').html('链接地址：').parent().show();
            $('#url_type').parents('tr').show();
            break;
    }
    $('#data_type').change(function(){
        var data_type = $(this).val();
        switch(data_type){
            case '0':
                $('#date_text').parent().hide();
                $('#url_type').parents('tr').hide();
                break;
            case '1':
                $('#url_type').parents('tr').hide();
                $('#date_text').html('相关关键字：').parent().show();
                break;
            case '2':
                $('#date_text').html('链接地址：').parent().show();
                $('#url_type').parents('tr').show();
                break;
        }
    });
    $('#url_type').click(function(){
        var url_type = $(this).val();
        switch(url_type){
            case '1':
                $('input[name="data"]').val('{$_SESSION['site']['siteurl']}');
                break;
            case '2':
                $('input[name="data"]').val('{$_SESSION['site']['siteurl']}' + 'index.php?c=weixin&a=member');
                break;
        }
    });
    
});
</script>