<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/bootstrap_min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/css.css" media="all" />
        <script src="{__PUBLIC__}js/jquery.js"></script>
        <script src="{__PUBLIC__}js/bootstrap.min.js"></script>
        <title>E营销管理系统</title>
    </head>
    <body>
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)">首页</a> <span class="divider">&gt;&gt;</span></li>
            <li><a href="javascript:void(0)">微信管理</a> <span class="divider">&gt;&gt;</span></li>
            <li class="active">参数二维码</li>
            <li class="pull-right" style="margin-top:-3px">
                <a class="btn btn-small btn-primary pull-right" id="add_qrcode">添加参数二维码</a>
                <a class="btn btn-small btn-primary pull-right" style="margin-right:5px" href="index.php?c=wechar&a=member_count">用户来源统计</a>
            </li>
        </ul>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="5%">ID</th>
                    <th width="10%">参数</th>
                    <th width="10%">添加时间</th>
                    <th width="10%">管理操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $list as $vo}
                <tr>
                    <td align='center'>{$vo['qrcode_id']}</td>
                    <td >{$vo['name']}</td>
                    <td align='center'>{@date('Y-m-d H:i:s',$vo['add_time'])}</td>
                    <td align='center'>
                        <a href="javascript:void(0)" class="edit_qrcode" data-qrcode_id="{$vo['qrcode_id']}">修改参数</a> | 
                        <a href="index.php?c=wechar&a=member&qrcode={$vo['qrcode_id']}">查看用户</a> | 
                        <a href="index.php?c=wechar&a=download_qrcode&id={$vo['qrcode_id']}">下载二维码</a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
            <tfoot>
                <tr > 
                    <td colspan="11"><div class="pagination">{$page}</div></td>
                </tr>
            </tfoot>
        </table>
        <div id="posids" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"></h3>
            </div>
            <div class="modal-body">
                <p style="text-algin:center">loadding......</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button class="btn btn-primary" id="modal_submit" data-dismiss="modal" aria-hidden="true">确定</button>
            </div>
        </div>
        <script>
            $(function(){
                $('#add_qrcode').click(function(){
                    $('#posids').removeData();
                    $('#myModalLabel').html('添加参数二维码');
                    $('#posids').modal({
                        remote:'index.php?c=wechar&a=add_qrcode'
                    });
                });
                $('.edit_qrcode').click(function(){
                    $('#posids').removeData();
                    $('#myModalLabel').html('修改参数');
                    var qrcode_id = $(this).data('qrcode_id');
                    $('#posids').modal({
                        remote:'index.php?c=wechar&a=edit_qrcode&id='+qrcode_id
                    });
                });
                $('#posids').on('hidden', function () {
                    $(this).removeData();
                })
                $('#modal_submit').click(function(){
                    $('#modal_form').submit();
                });
            });
        </script>
    </body>
</html>