<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/bootstrap_min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/css.css" media="all" />
    <script type="text/javascript" src="{__PUBLIC__}js/jquery.js" ></script>
    <script type="text/javascript" src="{__PUBLIC__}js/bootstrap.min.js" ></script>
    <title>E营销管理系统</title>
</head>
<body>
    <ul class="breadcrumb">
        <li><a href="javascript:void(0)">首页</a> <span class="divider">&gt;&gt;</span></li>
        <li><a href="javascript:void(0)">微信管理</a> <span class="divider">&gt;&gt;</span></li>
        <li class="active">消息群发</li>
    </ul>
    <form action="" method="post" class="form-search">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td align="right" width="20%"><strong>群发对象：</strong></td>
                    <td>
                        <select name="group">
                            <option value="-1">全部会员</option>
                            {foreach $groups as $group}
                            <option value="{$group[id]}">{$group[name]}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>消息类型：</strong></td>
                    <td>
                        <label class="radio"><input name="type" type="radio" checked="checked" value="1" >文字消息</label>
                        <label class="radio"><input name="type" type="radio" value="2" >图文消息</label>
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>消息内容：</strong></td>
                    <td>
                        <textarea name="content" class="text"></textarea>
                        <div class="no_text" style="display:none;">
                            <input type="button" class="btn btn-primary" id="material" value="选择素材" />
                            <ul id="message_box"></ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-center">
                        <input class="btn btn-primary" type="submit" value="保 存" />
                        <input class="btn btn-warning" type="button" onclick="javascript:history.back(-1);" value="返 回" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    <div id="updateimg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        <div class="modal-body">
            <p style="text-algin:center">loadding......</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="selected" aria-hidden="true">确定</button>
        </div>
    </div>
    <script>
        $(function(){
            $('#material').click(function(){
                $('#myModalLabel').html('选择素材');
                $('#updateimg').modal({
                    remote:'index.php?c=wechar&a=select_material'
                });
            });
            $('#updateimg').on('hidden', function () {
                $(this).removeData();
            });
            $("[name='type']").click(function(){
                var type = $("[name='type']:checked").val();
                if(type == 1){
                    $('.no_text').hide();
                    $('.text').show();
                }else{
                    $('.text').hide();
                    $('.no_text').show();
                }
            });
        });
    </script>
</body>
</html>