<form action="index.php?c=content&a=edit_field" method="post" id="modal_form">
    <input name="field_id" type="hidden" value="{$field['field_id']}">
    <table>
        <tr>
            <td width="40%" align="right"><strong>字段别名：</strong></td>
            <td class="lt">
                <input type="text" name="name" value="{$field['name']}">
            </td>
        </tr>
        <tr>
            <td width="40%" align="right"><strong>字段名：</strong></td>
            <td class="lt">
                <input type="text" disabled="disabled" value="{$field['field']}">
            </td>
        </tr>
        <tr>
            <td width="40%" align="right"><strong>字段类型：</strong></td>
            <td class="lt">
                <select disabled="disabled" name="type">
                    <option value="text" {if $field['type'] == 'text'}selected="selected"{/if}>单行文本</option>
                    <option value="textarea" {if $field['type'] == 'textarea'}selected="selected"{/if}>多行文本</option>
                    <option value="editor" {if $field['type'] == 'editor'}selected="selected"{/if}>编辑器</option>
                    <option value="image" {if $field['type'] == 'image'}selected="selected"{/if}>图片</option>
                </select>
            </td>
        </tr>
    </table>
</form>