<form action="index.php?c=content&a=edit_model" method="post" id="modal_form">
    <input name="model_id" type="hidden" value="{$model['model_id']}">
    <table>
        <tr>
            <td width="40%" align="right"><strong>模型名称：</strong></td>
            <td class="lt">
                <input type="text" name="name" value="{$model['name']}">
            </td>
        </tr>
        <tr>
            <td width="40%" align="right"><strong>模型描述：</strong></td>
            <td class="lt">
                <textarea name="description" placeholder="" >{$model['description']}</textarea>
            </td>
        </tr>
    </table>
</form>