<form action="index.php?c=content&a=edit_region" id="modal_form" method="post">
    <input name="region_id" type="hidden" value="{$info['region_id']}" />
    <table >
        <tr>
            <td width="40%" align="right"><strong>分站名称：</strong></td>
            <td class="lt">
                <input type="text" name="name" value="{$info['name']}">
            </td>
        </tr>
        <tr>
            <td width="40%" align="right"><strong>唯一标示：</strong></td>
            <td class="lt">
                <input type="text" name="mark" placeholder="仅限英文小写字母" value="{$info['mark']}">
            </td>
        </tr>
    </table>
</form>