<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="{__PUBLIC__}kindeditor/themes/default/default.css" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/bootstrap_min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}style/css.css" media="all" />
    <script type="text/javascript" src="{__PUBLIC__}js/jquery.js" ></script>
    <script type="text/javascript" src="{__PUBLIC__}js/bootstrap.min.js" ></script>
    <title>E营销管理系统</title>
</head>
<body>
    <ul class="breadcrumb">
        <li><a href="javascript:void(0)">首页</a> <span class="divider">&gt;&gt;</span></li>
        <li><a href="javascript:void(0)">商城管理</a> <span class="divider">&gt;&gt;</span></li>
        <li><a href="javascript:void(0)">商品管理</a> <span class="divider">&gt;&gt;</span></li>
        <li class="active">添加礼包</li>
        <li class="pull-right" style="margin-top:-3px">
            <a class="btn btn-small btn-primary pull-right" href="index.php?c=shop&a=package">返回列表</a>
        </li>
    </ul>
    <form action="" method="post" class="form-search">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td align="right"><strong>礼包名称：</strong></td>
                    <td>
                        <input type="text" name="name" value="{@iHtmlSpecialChars($info['name'])}" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>礼包价格：</strong></td>
                    <td>
                        <input type="text" name="price" value="{@iHtmlSpecialChars($info['price'])}" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>礼包积分：</strong></td>
                    <td>
                        <input type="text" name="point" value="{@iHtmlSpecialChars($info['point'])}" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>简介：</strong></td>
                    <td>
                        <textarea name="description" placeholder="商品简要描述">{@iHtmlSpecialChars($info['description'])}</textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>上架：</strong></td>
                    <td>
                        <label class="radio">
                            <input type="radio" name="shelf" checked="checked" value="1" />是
                        </label>
                        <label class="radio">
                            <input type="radio" name="shelf" value="0" />否
                        </label>
                    </td>
                </tr>
                <tr>
                    <td align="right"><strong>包含商品：</strong></td>
                    <td >
                        <ul id="album_box">
                            <li><input type="button" class="btn btn-primary" id="goods" value="选择商品" /></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-center">
                        <input class="btn btn-primary" type="submit" value="保 存" />
                        <input class="btn btn-warning" type="button" onclick="javascript:history.back(-1);" value="返 回" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    <div id="updateimg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">选择商品</h3>
        </div>
        <div class="modal-body">
            <p style="text-algin:center">loadding......</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary" data-dismiss="modal" id="updateimg_btn" aria-hidden="true">确定</button>
        </div>
    </div>
    <script>
    $(function(){
        $('#album_box').on('click','.album',function(){
            $(this).parent().remove();
        });
        $('#goods').click(function(){
            $('#updateimg').removeData();
            $('#updateimg').modal({
                remote:'index.php?c=shop&a=select_goods'
            });
        });
        $('#updateimg').on('hidden', function () {
            $(this).removeData();
        })
        $('#updateimg_btn').click(function(){
            var html = '<li>';
            $.each($('#_album_box').find('input[name="goods[]"]'),function(index,data){
                var html = '<li>';
                html += '<input type="hidden" name="goods[]" value="'+$(data).val()+'">';
                html += '<img title="点击删除" src="'+$(data).data('image')+'">';
                html += '<span>'+$(data).data('goods_name')+'</span>';
                html += '<a class="album" href="javascript:void(0)">删除</a>';
                html += '</li>';
                $('#album_box').prepend(html);
            });
        });
    });
    </script>
</body>
</html>